.vscode/extensions.json
*.tmp
.vscode/settings.json
map4.scx
map4.e2s
MSF_GaLaXy.2/trigeditplus_stderr.txt
MSF_GaLaXy.R/trigeditplus_stderr.txt
MSF_Memory_2/OnPluginStart.lua.rej
MSF_UE/trigeditplus_stderr.txt
CS/Test.txt
MSF_UE/.vscode/settings.json
.vscode/tasks.json
TestCodes/etc2.lua
TestCodes/etc.lua
settings.json
TestCodes/TestMap2.lua
TestCodes/tempCodeRunnerFile.lua
MSF_Memory_2/func.lua.rej
MSF_Memory_2/Var_init.lua.rej
